body {
    background-color: #ccc;
}
#listMessages, #roomListMessages {
    height: 300px;
    background: #eee;
    width: 100%;
}

#boxContent {
    background: #eee;
    margin-top: 27px;
    padding: 20px;
}